<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script src="http://malsup.github.com/jquery.form.js"></script>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <title>WikiVi</title>
</head>
<body>
    <div class="head">
        <form name="Search">
          <div>
            <input type="search" id="myRequest" name="q">
            <input type="button" onclick="runSearch()" id="goSearch" value="Поиск"/>
          </div>
        </form>
        <input type="button" onclick="getModules()" value="Модули" name="modules"/>
        <input type="button" onclick="getForms()" value="Формы"/>
        <input type="button" onclick="getKnowledgeList()" value="Знания"/>
    </div>


    <div id="content">
        <div id="contentList"></div>
        <div id="contentListAdd" onclick="getAddElementForm()">Добавить</div>
    </div>



    <div id="contentItem">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur consequuntur corporis cum cupiditate distinctio eligendi et, facere illum laborum minus, obcaecati omnis pariatur rerum saepe similique sit soluta, sunt.
    </div>
{##}
{#    <div id="footer">#}
{#    </div>#}

    <script>

        var active_block = NaN;

        function changeStyle(div) {

            if (active_block) {
                active_block[0].className = 'elementList';
            }

            active_block = div;
            div[0].className = 'active elementList';
        }

        function getModules(){
          $.ajax({url: "{% url 'modules' %}", success: function(data){
              $("#contentList").html(data.modules);
          }});
        }

        function getForms(){
          $.ajax({url: "{% url 'forms' %}", success: function(data){
              $("#contentList").html(data.forms);
          }});
        }

        function getKnowledgeList(){
          $.ajax({url: "{% url 'knowledge_list' %}", success: function(data){
              $("#contentList").html(data.knowledge_list);
          }});
        }

        function runSearch(){
          var requestText = $('#myRequest')[0].value;
          var requestModel = $('#contentList').children().attr('class').split(' ')[0];
          console.log(requestText);
          console.log(requestModel);
          $.ajax({
              url: "{% url 'search' %}",
              data:{'text': requestText, 'model': requestModel},
              success: function(data){
                  $("#contentList").html(data.result);
          }});
        }

        function getAddElementForm() {
          var requestModel = $('#contentList').children().attr('class').split(' ')[0];
          $.ajax({url: "{% url 'get_add_element_form' %}", data: {'model': requestModel } , success: function(data){
              $("#contentItem").html(data.result);
          }});
        }

    </script>

</body>
</html>