<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <title>WikiVi</title>
</head>
<body>
    <div class="head">
        <input type="button" id="getModules" value="Модули" name="modules"/>
        <input type="button" id="getForms" value="Формы"/>
    </div>
    <hr>


    <script>
        $("#getModules").click(function(){
          $.ajax({url: "{% url 'modules' %}", success: function(data){
              $("#content").html(data.modules);
          }});
        });

        $("#getForms").click(function(){
          $.ajax({url: "{% url 'forms' %}", success: function(data){
              $("#content").html(data.forms);
          }});
        });


    </script>

    <div id="content">
    </div>

</body>
</html>