<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <title>WikiVi</title>
</head>
<body>
    <div class="head">
        <form action="/example/handler.php">
          <div>
            <input type="search" id="myRequest" name="q">
            <input type="button" onclick="runSearch()" id="goSearch" value="Поиск"/>
          </div>
        </form>
        <input type="button" onclick="getModules()" value="Модули" name="modules"/>
        <input type="button" onclick="getForms()" value="Формы"/>
        <input type="button" onclick="getKnowledge()" value="Знания"/>
    </div>
    <hr>


    <div id="content">
    </div>

    <script>
        function getModules(){
          $.ajax({url: "{% url 'modules' %}", success: function(data){
              $("#content").html(data.modules);
          }});
        }

        function getForms(){
          $.ajax({url: "{% url 'forms' %}", success: function(data){
              $("#content").html(data.forms);
          }});
        }

        function getKnowledge(){
          $.ajax({url: "{% url 'knowledge' %}", success: function(data){
              $("#content").html(data.knowledge_list);
          }});
        }

        function runSearch(){
          $.ajax({url: "{% url 'search' %}", success: function(data){
              $("#content").html(data.result);
          }});
        }

    </script>

</body>
</html>