<div class="knowledge content">
    <h3>{{ knowledge }}</h3> <br>
    <b>Форма:</b> {{ knowledge.view }} <br><br>
    <b>Проблема:</b><br>
    {{ knowledge.description }} <br><br>
    <b>Решение:</b><br>
    {{ knowledge.decision }} <br><br>
    <b>Вложения:</b><br>
    {% for attachment in attachments %}
        <a href="/media/{{ attachment.path }}" target="_blank">{{ attachment.name }}</a><br>
    {% endfor %}
    <div class="changeElement">
        <div id="editElement">Редактировать</div>
        <div id="removeElement" onclick="removeKnowledge({{ knowledge.id }})">Удалить</div>
    </div>
</div>

<script>

    function removeKnowledge(id){
      $.ajax({url: "{% url 'remove_knowledge' %}", data: {'id': id } , success: function(data){
          $("#contentList").html(data.knowledge_list);
      }});
    }

</script>