<div class="knowledgeList List">
    {% for knowledge in knowledge_list %}
        <div class="elementList" id="block_{{ knowledge.id }}" onclick="getKnowledge({{ knowledge.id }}); changeStyle($(this))">
            <b>{{ knowledge }}</b>
            {{ knowledge.description }}
        </div>
    {% endfor %}
</div>

<script>

    function getKnowledge(id){

      $.ajax({url: "{% url 'knowledge' %}", data: {'id': id } , success: function(data){
          $("#contentItem").html(data.knowledge);
      }});
    }

</script>