html, body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

.head {
    background: #307557;
    height: 75px;
    margin: auto;
    padding-left: 25px;
    padding-top: 30px;
}

#content {
    /*display: block;*/
    /*position: relative;*/
    /*bottom: 0px;*/
    float: left;
    width: 550px;
    height: 85%;
    border-right: 1px solid #dedede;
    background: #34a51b0a;
}

#content2 {
    min-height: 85%;
    display: table;
    padding: 30px;
}

#contentList {
    height: 95%;
    overflow-y: scroll;
}

#contentListAdd {
    height: 5%;
    background: #5b80b2;
}

.List div {
    height: 72px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.List div:hover {
    background: #1BA56A;
    cursor: pointer;
}

.List b {
    display: block;
    margin-block-end: 5px;
}


#footer {
    height: 100%;
    background: #307457;
    position: absolute;
    width: 100%;
}
