html, body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

.head {
    background: #307557;
    height: 75px;
    margin: auto;
    padding-left: 25px;
    padding-top: 30px;
}

.content {
    height: 95%;
}

#content {
    /*display: block;*/
    /*position: relative;*/
    /*bottom: 0px;*/
    float: left;
    width: 550px;
    height: 85%;
    border-right: 1px solid #dedede;
    background: #34a51b0a;
}

#contentItem {
    min-height: 85%;
    display: table;
    padding: 30px;
    position: relative;

}

#contentList {
    height: 95%;
    overflow-y: scroll;
}


#contentListAdd {
    background: #5b80b2;
    height: 5%;
    text-align: center;
    cursor: pointer;
}

.changeElement {
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    height: 5%;
    width: 400px;
    display: flex;
}

#editElement {
    background: #f8b028;
    width: 200px;
    margin-right: 5px;
}

#removeElement {
    background: #e33636;
    width: 200px;
    margin-left: 5px;
}

.elementList {
    height: 72px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.elementList:hover {
    background: #1BA56A;
    cursor: pointer;
}

.elementList b {
    display: block;
    margin-block-end: 5px;
}

.active {
    background: #34a51b36;
}


#footer {
    height: 100%;
    background: #307457;
    position: absolute;
    width: 100%;
}
